
=============================================================================
  {{ title }}
-----------------------------------------------------------------------------
  {{ subtitle }}

 ---
  {{ about | striptags(true) | indent(2) }}

 ---
  {% if home -%}
    Home     {{ home.href + "\n" }}
  {%- endif %}
  {% if docs -%}
    Doc      {{ docs.href + "\n" }}
  {%- endif %}

  Repo     {{ repo.href }}
  {% if license -%}
    License  {{ license.type }}
           {{ license.href + "\n" }}
  {%- endif %}

=============================================================================
