
\033[30m=============================================================================\033[m
  \033[1;4;33m{{ title }}\033[m
\033[30m-----------------------------------------------------------------------------\033[m
  \033[3;35m{{ subtitle }}\033[m

 \033[30m---\033[m
  \033[1m{{ about | striptags(true) | indent(2) }}\033[0m

 \033[30m---\033[m
  {% if home -%}
    \033[36mHome\033[m     \033[4;34m{{ home.href + "\n" }}\033[m
  {%- endif %}
  {% if docs -%}
    \033[36mDoc\033[m      \033[4;34m{{ docs.href + "\n" }}\033[m
  {%- endif %}

  \033[36mRepo\033[m     \033[4;34m{{ repo.href }}\033[m
  {% if license -%}
    \033[36mLicense\033[m  \033[5;31m{{ license.type }}\033[m
           \033[4;34m{{ license.href + "\n" }}\033[m
  {%- endif %}

\033[30m=============================================================================\033[m
